mixin accordeon-item (acor, title, subtitle, subtitle_2, subtitle_3, subtitle_4)
    input(id= '' +acor)(type='checkbox', name='acor')
    label(for='' +acor)= title
    .accordeon__body
        p= subtitle
        p= subtitle_2
        p= subtitle_3
        p= subtitle_4


section.accordeon
    .container
        .accordeon__container
            +accordeon-item('acor1', 'Что такое спидкубинг?', 'Спидкубинг — это сборка различных головоломок на время. Самой распространенной из которых является кубик Рубика.', 'В Беларуси, а также в других странах данный вид увлечения довольно широко развит. Люди, занимающиеся скоростной сборкой кубиков, называют себя спидкуберами.')
            +accordeon-item('acor2', 'Устав Федерации', 'Федерация спидкубинга возникла вслед за подобными организациями в Казахстане и России.', 'ОО «Федерация спидкубинга» имеет статус местного, регионального общественного объединения и распространяет свою деятельность на территорию всей Беларуси.', 'ОО «Федерация спидкубинга» осуществляет свою деятельность в соответствии с Конституцией Республики Беларусь, Законом Республики Беларусь «Об общественных объединениях», декретами и указами Президента Республики Беларусь, другими актами действующего законодательства и настоящим Уставом, а также  регламентирующими документами Всемирной ассоциации кубика.')
            +accordeon-item('acor3', 'Соревнования в Беларуси', 'За 2019 год в Беларуси были проведены 10 чемпионатов. Кроме этого, впервые были проведены соревнования в Вилейке, Гродно и Могилеве.', 'Средний возраст белорусского спидкубера-14,5 лет. Самому младшему участнику соревнований всего 6 лет, а старшему — 30.', 'Самым крупным чемпионатом в истории белорусского спидкубинга стал «Belarus Nationals 2019», в котором приняли участие 144 спидкубера.')
            +accordeon-item('acor4', 'Обучение спидкубингу', 'Сегодня курс спидкубинга представляет состоит из 2-х этапов: сборка головоломок новичковым способом и, собственно, обучение скоростной сборке.', 'Первый этап занимает около 4-х месяцев зависимости от выбранного курса — один или два раза в неделю. Занятия длятся 1 астрономический час. Группы — 1-3 человека не более. Сложности и вариативность головоломки не позволяет проводить полноценное занятие в группе, где имеется более 3-х человек. Тренеру необходимо уделять время каждому. Кубик — это 42 квинтиллиона комбинаций. Каждый ребенок в процессе сборки получает свою комбинацию, из которой тренеру надо показать алгоритм выхода. Обучение начинают с головоломки 3х3, затем следует 2х2, пирамидка и другие виды.', 'Затем можно переходить к сборке методом Фридрих. Он более сложный, требует запоминания буквенных обозначений и большого количества формул. Сборка новичковым способом обычно усваивается детьми за 4-5 уроков. Малышам дается порой очень сложно. Поэтому мы подключает различные упражнения на развитие пространственного мышления, образного восприятия, логику, развитие памяти, улучшения концентрации внимания.')